h1
	{color : black;
	font-size : 200%;
	background : white;
	text-align : center;
	}
	
.p1
	{font-size : 170%;}
	
.p2
	{
	font-size:2.7em;
	}
	
#image
	{
	width: 100px;
	height : 100px;
	}
	

.chifoumi{
	width: 45%;
	padding:200px;
	font-weight:bold;
	color: white;
	font-size:2.5em;
}

	

.quete{
	font-size:2em;
	font-weight:bold;
	color: white;
	width: 45%;
	padding: 10%;
	margin: 10%;
}
	
.image_quete
	{float: left;
	padding: 2%;
	margin:2%;
	}
.image_quiz
	{float: left;
	padding: 2%;
	margin:2%;
	}
.image_chifoumi
	{float: left;
	padding: 2%;
	margin:2%;
	}
.image_memory
	{float: left;
	padding: 2%;
	margin:2%;
	}
	
.body1
	{background-image: url("../images/quest.png");
	background-size:cover;
	}
.body2
	{background-image: url("../images/the_quest2.png");
	background-size:cover;
	color: white ;
	margin-left: 130px;
	margin-top: 225px;
	}
.ecrit
	{color: white ;
	}
.quete1
	{background-image: url("../images/the_quest3.png");
	background-size:cover;
	color: white ;
	margin-left: 130px;
	margin-top: 225px;
	}
.quete2
	{background-image: url("../images/the_quest4.png");
	background-size:cover;
	color: white ;
	margin-left: 130px;
	margin-top: 225px;
	}
.quete3
	{background-image: url("../images/the_quest5.png");
	background-size:cover;
	color: white ;
	margin-left: 130px;
	margin-top: 225px;
	}	
h1 {
  font-family: "Lobster", serif;
}
.bouton{
										display: block;
                                        background-color: #2ad8d8;
                                        border-radius: 10px;
                                        border: 4px double #2ad8a7;
                                        color: #ffffff;
                                        text-align: center;
                                        font-size: 50px;
                                        padding: 10px;
                                        width: 300px;
                                        cursor: pointer;
}

.Boutton:hover {
  background-color: rgb(255 0 0 / 100%);
}

.Boutton:active {
  box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 60%),
    inset 2px 2px 3px rgb(0 0 0 / 60%);
}
